@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap'); // Importing font used for code

// Code || Still in progress, design being discussed
// Modifiers include no background, allowing the use to remove the background for just the font.

.code{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(223, 223, 223);
    padding: 3px 3px;
    border-radius: 4px;
    
    &.__nobackground{
        background-color: rgba(255, 255, 255, 0);
    }
}