// Text styles

@mixin italic() {
  font-style: italic;
}

@mixin text-align($positon) {
  text-align: $positon;
}

@mixin border-radius($size) {
  border-radius: $size;
}

@mixin --rounded {
  border-radius: 3px;
}
@mixin decoration($decoration) {
  text-decoration: $decoration;
}

@mixin font-weight($weight) {
  font-weight: $weight;
}

@mixin text-transform($trasform) {
  text-transform: $trasform;
}
