// Text styles
@mixin decoration($decoration) {
    text-decoration: $decoration;
}

@mixin font-weight($weight) {
    font-weight: $weight;
}

@mixin text-align($positon) {
    text-align: $positon;
}

@mixin text-transform($trasform) {
    text-transform: $trasform;
}