.text {
    font-family: 'Roboto', sans-serif;

    // Speciffic element styles
    &.__h1 {
        padding: 10px;
        margin: 0;
    }

    // Text style / decoration
    &.--italic {
        font-style: italic;
    }

    &.--underline {
        @include decoration(underline);
    }

    &.--bold {
        @include font-weight(bold);
    }

    &.--decoration-none {
        @include decoration(none);
    }

    &.--bolder {
        @include font-weight(bolder);
    }

    &.--light {
        @include font-weight(100);
    }

    //Text transform
    &.--lowercase {
        @include text-transform(lowercase);
    }

    &.--uppercase {
        @include text-transform(uppercase);
    }

    &.--capitalize {
        @include text-transform(capitalize);
    }

    // Text positioning
    &.--center {
        @include text-align(center);
    }

    &.--right {
        @include text-align(right);
    }

    &.--left {
        @include text-align(left);
    }

    // Text wrapping
    &.--text-wrap {
        word-wrap: break-word;
    }

    &.--text-break {
        overflow-wrap: break-word;
        word-break: break-word;
    }
}